<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>To-Do-List </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'profile.css' %}"> -->
</head>

<body>
    <header>
        <div class="logo-name"><a href="{% url 'LOGIN_Assig:home' %}">
            <h1>To-Do-List</h1>
        </a>
        </div>
        <div class="menu">
            {% block menu %}

            {% endblock %}
        </div>
    </header>
    <main>
        <section>
            <div class="content">
                {% block content %}

                {% endblock %}
            </div>
        </section>
    </main>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>